[Unit]
Description=IDEOCODE pairing code service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/IDEOCODE-pair-service.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
